In [10]:
#Loading the dataset
import pandas as pd
import re
import os

candidate_applications_data = pd.read_csv("/Users/prathikpradeep/HC_One/data/raw/CandidateApplicationsData.csv")

#Function to display all columns
pd.set_option('display.max_columns', None)

In [12]:
df = pd.read_csv("/Users/prathikpradeep/HC_One/data/raw/CandidateApplicationsData.csv")

In [26]:
#Replacing Not Found values with NA
candidate_applications_data = candidate_applications_data.replace('Not Found', pd.NA)

In [27]:
#Null values per column
b = pd.DataFrame(candidate_applications_data.isna().sum())
b = b.T
b

,vacancy id,vacancy application id,candidate id,length of service in months,Current Employee [1=YES / 0=No],Contracted hours,Vacancy Creation Date,Application Date,Application Day of Week,Application Hour in Day,Applied Through (Channel Type),Applied Through (Channel),Home Code,Job Title,Advertised Salary,Distance Candidate is from Job location (KM),Certification,Licence,Other,All,GCSE,NVQ,A-Level,HND,Bachelors,Masters,Other.1,All.1,Accounts Skills,Admin Skills,Care Assistant,Chef Skills,FlexForce,General Skills,Health and Social Care,Home Manager Skills,Kitchen & Domestic Skills,Maintenance Skills,Nurse Skills,Qualifications,Specialist Area,Team Leader Skills,Total Skills on CV,Arabic,Russian,French,Spanish,Dutch,Italian,German,Portuguese,Japanese,Total,Socail Demographic Code,Group Code,Type Code,Category Code,Group,Type,Category,Count of Care homes within 15 min drive,Count of Care home Beds within 15 min drive,Average age of the care homes within 15 min drive,Count of Care Homes within walking distance (<500 meters) from candidates address,Sum of care home beds within walking distance from candidates address,Count of bus stops walking distance from candidates address,1. Owned,1.1 Owns outright,1.2 Owns with a mortgage or loan,1.3 Shared ownership,2. Social rented,2.1 Rented from Council (Local Authority),2.2 Other social rented,3. Private rented,3.1 Private landlord or letting agency,3.2 Other private rented,4. Living rent free,Total population by ethnicity,White,White: Gypsy or Irish traveller,Mixed,Asian or Asian British,Asian: Indian,Asian: Pakistani,Asian: Bangladeshi,Asian: Chinese,Asian: other,Black or Black British,Black: African,Black: Caribbean,Black: other,Other ethnic group,Total population aged 16 to 74,Employee: full-time,Employee: part-time,Self-employed,Unemployed (economically active),Full-time student (economically active),Total economically active,Retired,Student (economically inactive),Looking after home or family,Long-term sick or disabled,Other inactive,Total economically inactive,Unemployed aged 16-24,Unemployed aged 50-74,Unemployed: never worked,Long-term unemployed,Total households 1,No car or van in household,1 car or van in household,2 cars or vans in household,3 cars or vans in household,4 or more cars or vans in household,Total cars or vans,Total Population,Males,Females,Residents in households,Residents in communal establishments,Schoolchildren or full-time students aged 4+ at their non term-time address,All people aged 16+,Single (never married or registered a same-sex civil partnership),Married,In a registered same-sex civil partnership,Separated (but still legally married or in a same-sex civil partnership),Divorced (or formerly in a same-sex civil partnership which is now legally dissolved),Widowed (or surviving partner from a same-sex civil partnership)
0,0,0,0,0,0,4,0,0,0,0,9426,12984,68,0,693,5,0,0,0,0,20997,20997,20997,20997,20997,20997,20997,20997,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,127,127,127,0,0,0,105,105,105,105,105,105,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [23]:
candidate_applications_data.shape

(17573, 78)

In [5]:
#Datatypes of each column
x=pd.DataFrame(candidate_applications_data.dtypes)
x = x.T
x

,vacancy id,vacancy application id,candidate id,length of service in months,Current Employee [1=YES / 0=No],Contracted hours,Vacancy Creation Date,Application Date,Application Day of Week,Application Hour in Day,Applied Through (Channel Type),Applied Through (Channel),Home Code,Job Title,Advertised Salary,Distance Candidate is from Job location (KM),Certification,Licence,Other,All,GCSE,NVQ,A-Level,HND,Bachelors,Masters,Other.1,All.1,Accounts Skills,Admin Skills,Care Assistant,Chef Skills,FlexForce,General Skills,Health and Social Care,Home Manager Skills,Kitchen & Domestic Skills,Maintenance Skills,Nurse Skills,Qualifications,Specialist Area,Team Leader Skills,Total Skills on CV,Arabic,Russian,French,Spanish,Dutch,Italian,German,Portuguese,Japanese,Total,Socail Demographic Code,Group Code,Type Code,Category Code,Group,Type,Category,Count of Care homes within 15 min drive,Count of Care home Beds within 15 min drive,Average age of the care homes within 15 min drive,Count of Care Homes within walking distance (<500 meters) from candidates address,Sum of care home beds within walking distance from candidates address,Count of bus stops walking distance from candidates address,1. Owned,1.1 Owns outright,1.2 Owns with a mortgage or loan,1.3 Shared ownership,2. Social rented,2.1 Rented from Council (Local Authority),2.2 Other social rented,3. Private rented,3.1 Private landlord or letting agency,3.2 Other private rented,4. Living rent free,Total population by ethnicity,White,White: Gypsy or Irish traveller,Mixed,Asian or Asian British,Asian: Indian,Asian: Pakistani,Asian: Bangladeshi,Asian: Chinese,Asian: other,Black or Black British,Black: African,Black: Caribbean,Black: other,Other ethnic group,Total population aged 16 to 74,Employee: full-time,Employee: part-time,Self-employed,Unemployed (economically active),Full-time student (economically active),Total economically active,Retired,Student (economically inactive),Looking after home or family,Long-term sick or disabled,Other inactive,Total economically inactive,Unemployed aged 16-24,Unemployed aged 50-74,Unemployed: never worked,Long-term unemployed,Total households 1,No car or van in household,1 car or van in household,2 cars or vans in household,3 cars or vans in household,4 or more cars or vans in household,Total cars or vans,Total Population,Males,Females,Residents in households,Residents in communal establishments,Schoolchildren or full-time students aged 4+ at their non term-time address,All people aged 16+,Single (never married or registered a same-sex civil partnership),Married,In a registered same-sex civil partnership,Separated (but still legally married or in a same-sex civil partnership),Divorced (or formerly in a same-sex civil partnership which is now legally dissolved),Widowed (or surviving partner from a same-sex civil partnership)
0,int64,int64,int64,int64,int64,float64,object,object,object,int64,object,object,object,object,object,object,int64,int64,int64,int64,object,object,object,object,object,object,object,object,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,object,float64,object,float64,object,object,object,float64,float64,float64,float64,float64,float64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64

In [6]:
candidate_applications_data['Application Date'] = pd.to_datetime(candidate_applications_data['Application Date'], format='%d/%m/%Y')
candidate_applications_data['Vacancy Creation Date'] = pd.to_datetime(candidate_applications_data['Vacancy Creation Date'], format='%d/%m/%Y')

In [7]:
#Calculating the month differences
d = pd.to_datetime('2023-03-08')

candidate_applications_data['month_diff'] = (d.year - candidate_applications_data['Application Date'].dt.year) * 12 + d.month - candidate_applications_data['Application Date'].dt.month

In [8]:
#Creating column 'Candidate previous employee [1 = yes, 0 = no]' to find if a candidate applying is a current employee at HC-One
candidate_applications_data['Candidate previous employee [1 = yes, 0 = no]'] = candidate_applications_data.apply(lambda row: 1 if row['month_diff'] > 0 and row['month_diff'] > row['length of service in months'] else 0, axis=1)

In [12]:
#Removing dupliactes
candidate_applications_data = candidate_applications_data.drop_duplicates()

In [9]:
#Removing records when contracted hours is 0
candidate_applications_data = candidate_applications_data[candidate_applications_data['Contracted hours'] != 0]

In [10]:
#Removing records when  Distance Candidate is from Job location (KM) is Distance not Found
candidate_applications_data = candidate_applications_data[candidate_applications_data[' Distance Candidate is from Job location (KM) '] != 'Distance not found']

In [11]:
# drop all rows containing zero values from Contracted hours
candidate_applications_data = candidate_applications_data.dropna(subset=['Contracted hours',])

# # drop all rows containing zero values from Applied Through (Channel Type)
# candidate_applications_data = candidate_applications_data.dropna(subset=['Applied Through (Channel Type)',])

# drop all rows containing zero values from Home Code
candidate_applications_data = candidate_applications_data.dropna(subset=['Home Code',])

# drop all rows containing zero values from Advertised Salary
candidate_applications_data = candidate_applications_data.dropna(subset=['Advertised Salary',])

#drop all rows containing zero values from Distance Candidate is from Job location (KM)
# candidate_applications_data = candidate_applications_data.dropna(subset=[' Distance Candidate is from Job location (KM) ',])

# drop all rows containing zero values from Group Code
candidate_applications_data = candidate_applications_data.dropna(subset=['Group Code',])

# drop all rows containing zero values from Count of Care homes within 15 min drive
candidate_applications_data = candidate_applications_data.dropna(subset=['Count of Care homes within 15 min drive',])

In [13]:
# Convert columns to appropriate data types
candidate_applications_data['vacancy id'] = candidate_applications_data['vacancy id'].astype(int)
candidate_applications_data['candidate id'] = candidate_applications_data['candidate id'].astype(int)
candidate_applications_data['Contracted hours'] = candidate_applications_data['Contracted hours'].astype(float)
candidate_applications_data['length of service in months'] = candidate_applications_data['length of service in months'].astype(int)

# Calculate the average of Contracted hours and maximum of length_of_service_in_months for each candidate and vacancy
candidate_applications_data[['mean_Contracted_hours', 'max_length_of_service_in_months']] = candidate_applications_data.groupby(
    candidate_applications_data.columns.difference(['Contracted hours', 'length of service in months']).tolist())[['Contracted hours', 'length of service in months']].transform('mean', 'max')

candidate_applications_data = candidate_applications_data.assign(r_ank=candidate_applications_data.sort_values(["vacancy id", "candidate id", "Contracted hours"], ascending=[True, True, False])
                 .groupby(["vacancy id", "candidate id"])
                 .cumcount() + 1)

candidate_applications_data = candidate_applications_data[candidate_applications_data['r_ank'] == 1].drop('r_ank', axis=1)

In [14]:
#Number of duplicates
candidate_applications_data.duplicated().sum()

0

In [15]:
#Drop columns that are not necessary
candidate_applications_data = candidate_applications_data.drop(
    ['vacancy id','vacancy application id','candidate id','Vacancy Creation Date',
     'Application Date','Application Day of Week','Application Hour in Day',
     'Applied Through (Channel)','GCSE','NVQ','A-Level','HND','Bachelors','Masters','Other.1',
     'Home Code','All','All.1','Total Skills on CV','Total',
     'Socail Demographic Code', 'Group', 'Type', 'Category','Total population by ethnicity',
     'White','White: Gypsy or Irish traveller','Mixed','Asian or Asian British',
     'Asian: Indian','Asian: Pakistani','Asian: Bangladeshi','Asian: Chinese',
     'Asian: other','Black or Black British','Black: African','Black: Caribbean',
     'Black: other','Other ethnic group','Total population aged 16 to 74',
     'Employee: full-time','Employee: part-time','Self-employed',
     'Unemployed (economically active)','Full-time student (economically active)','Retired',
     'Student (economically inactive)','Looking after home or family',
     'Long-term sick or disabled','Other inactive','Total Population','Males','Females',
     'month_diff','mean_Contracted_hours','max_length_of_service_in_months'],axis=1)

In [16]:
#Converting Job Title column to numeric
candidate_applications_data['Job Title'].replace(['Carer', 'Senior Carer','Nursing'],
                        [0, 1,2], inplace=True)

#Converting Applied Through (Channel Type) column to numeric
candidate_applications_data['Applied Through (Channel Type)'].replace(
    ['Referral', 'Advertisement','Job Board','HC-One Careers Website','Other',
     'Social Referral','Social Media','Job Fair', 'Golden Bees'], 
    [1,2,3,4,5,6,7,8,9], inplace=True)

#Converting Type Code column to numeric
candidate_applications_data['Type Code'].replace(
    ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R'], 
    [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18], inplace=True)

In [17]:
candidate_applications_data.columns[40:41]

Index(['Sum of care home beds within walking distance from candidates address'], dtype='object')

In [18]:
# # # #Converting columns Applied Through (Channel Type) and Job Title to int
# candidate_applications_data.iloc[:, 3:5] = candidate_applications_data.iloc[:, 3:5].astype(int)

# #Converting columns Advertised Salary to float
# candidate_applications_data.iloc[:, 5:6] = candidate_applications_data.iloc[:, 5:6].astype(float)

#Converting Distance Candidate is from Job location (KM) to float
candidate_applications_data.iloc[:, 6:7] = candidate_applications_data.iloc[:, 6:7].astype(float)

#Converting columns Group Code columns to int
candidate_applications_data.iloc[:, 40:41] = candidate_applications_data.iloc[:, 40:41].astype(int)

#Converting columns Competitor Data columns to int
candidate_applications_data.iloc[:, 43:49] = candidate_applications_data.iloc[:, 43:49].astype(int)

In [19]:
#fixing salary column 
salary=[]
minimum_sal=10
for str in candidate_applications_data['Advertised Salary']:
  str=str.replace(",","")
  sal=re.search(r'\d+(\.\d+)?', str)
  if sal:
    k=sal.group()
    k = float(k) 
    if k==39.5:
      salary.append(18.99)   
    elif k<50:
     salary.append(k)
    elif k>10000 and k<100000:
      k=k/2080
      k=round(k,2)
      salary.append(k) 
    elif k>100000:
      k=k/208000
      k=round(k,2)
      salary.append(k)
    elif k==1685.0:
      salary.append(16.85) 
    else:
      salary.append(minimum_sal)
  else:
    salary.append(minimum_sal)
candidate_applications_data['salary']=salary

In [84]:
#Drop columns that are not necessary
candidate_applications_data = candidate_applications_data.drop(['Applied Through (Channel Type)','Advertised Salary'],axis=1)

In [85]:
#Datatypes of each column
x=pd.DataFrame(candidate_applications_data.dtypes)
x = x.T
x

,length of service in months,Current Employee [1=YES / 0=No],Contracted hours,Job Title,Distance Candidate is from Job location (KM),Certification,Licence,Other,Accounts Skills,Admin Skills,Care Assistant,Chef Skills,FlexForce,General Skills,Health and Social Care,Home Manager Skills,Kitchen & Domestic Skills,Maintenance Skills,Nurse Skills,Qualifications,Specialist Area,Team Leader Skills,Arabic,Russian,French,Spanish,Dutch,Italian,German,Portuguese,Japanese,Group Code,Type Code,Category Code,Count of Care homes within 15 min drive,Count of Care home Beds within 15 min drive,Average age of the care homes within 15 min drive,Count of Care Homes within walking distance (<500 meters) from candidates address,Sum of care home beds within walking distance from candidates address,Count of bus stops walking distance from candidates address,1. Owned,1.1 Owns outright,1.2 Owns with a mortgage or loan,1.3 Shared ownership,2. Social rented,2.1 Rented from Council (Local Authority),2.2 Other social rented,3. Private rented,3.1 Private landlord or letting agency,3.2 Other private rented,4. Living rent free,Total economically active,Total economically inactive,Unemployed aged 16-24,Unemployed aged 50-74,Unemployed: never worked,Long-term unemployed,Total households 1,No car or van in household,1 car or van in household,2 cars or vans in household,3 cars or vans in household,4 or more cars or vans in household,Total cars or vans,Residents in households,Residents in communal establishments,Schoolchildren or full-time students aged 4+ at their non term-time address,All people aged 16+,Single (never married or registered a same-sex civil partnership),Married,In a registered same-sex civil partnership,Separated (but still legally married or in a same-sex civil partnership),Divorced (or formerly in a same-sex civil partnership which is now legally dissolved),Widowed (or surviving partner from a same-sex civil partnership),"Candidate previous employee [1 = yes, 0 = no]",salary
0,int64,int64,float64,int64,float64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,float64,int64,float64,float64,float64,float64,float64,int64,float64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,float64

In [86]:
candidate_applications_data

,length of service in months,Current Employee [1=YES / 0=No],Contracted hours,Job Title,Distance Candidate is from Job location (KM),Certification,Licence,Other,Accounts Skills,Admin Skills,Care Assistant,Chef Skills,FlexForce,General Skills,Health and Social Care,Home Manager Skills,Kitchen & Domestic Skills,Maintenance Skills,Nurse Skills,Qualifications,Specialist Area,Team Leader Skills,Arabic,Russian,French,Spanish,Dutch,Italian,German,Portuguese,Japanese,Group Code,Type Code,Category Code,Count of Care homes within 15 min drive,Count of Care home Beds within 15 min drive,Average age of the care homes within 15 min drive,Count of Care Homes within walking distance (<500 meters) from candidates address,Sum of care home beds within walking distance from candidates address,Count of bus stops walking distance from candidates address,1. Owned,1.1 Owns outright,1.2 Owns with a mortgage or loan,1.3 Shared ownership,2. Social rented,2.1 Rented from Council (Local Authority),2.2 Other social rented,3. Private rented,3.1 Private landlord or letting agency,3.2 Other private rented,4. Living rent free,Total economically active,Total economically inactive,Unemployed aged 16-24,Unemployed aged 50-74,Unemployed: never worked,Long-term unemployed,Total households 1,No car or van in household,1 car or van in household,2 cars or vans in household,3 cars or vans in household,4 or more cars or vans in household,Total cars or vans,Residents in households,Residents in communal establishments,Schoolchildren or full-time students aged 4+ at their non term-time address,All people aged 16+,Single (never married or registered a same-sex civil partnership),Married,In a registered same-sex civil partnership,Separated (but still legally married or in a same-sex civil partnership),Divorced (or formerly in a same-sex civil partnership which is now legally dissolved),Widowed (or surviving partner from a same-sex civil partnership),"Candidate previous employee [1 = yes, 0 = no]",salary
0,37,0,22.0,0,9.51,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3.0,6,23.0,37.0,1524.0,26.0,1.0,40,0.0,101,51,50,0,13,7,6,10,9,1,1,156,70,3,3,1,4,125,17,49,50,7,2,181,304,26,4,272,70,136,0,6,25,35,0,9.55
1,24,0,44.0,0,1.76,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2.0,5,19.0,23.0,1019.0,28.0,0.0,0,8.0,82,25,57,0,0,0,0,35,33,2,3,165,28,0,1,0,3,120,8,67,33,8,4,174,232,0,6,199,71,82,0,8,31,7,1,8.72
2,1,1,33.0,0,5.14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4.0,11,36.0,28.0,1282.0,27.0,2.0,90,52.0,14,4,9,1,5,1,4,44,42,2,2,76,38,2,0,0,1,65,43,19,2,1,0,26,117,0,0,115,93,16,0,1,5,0,0,10.50
3,42,0,38.5,0,16.49,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5.0,17,58.0,70.0,3354.0,22.0,0.0,0,7.0,14,2,12,0,105,47,58,6,5,1,2,86,101,4,2,9,15,127,91,31,2,2,1,45,273,0,0,197,88,55,0,10,27,17,0,9.55
4,153,0,22.0,0,4.08,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4.0,12,39.0,34.0,1427.0,26.0,0.0,0,20.0,102,37,65,0,5,0,5,14,13,1,1,160,63,2,2,0,4,122,33,61,25,3,0,120,310,0,2,245,86,122,0,2,24,11,0,9.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24477,6,0,44.0,2,11.05,2,0,1,0,1,1,0,1,2,0,0,1,0,4,0,2,0,0,0,0,0,0,0,0,0,0,5.0,15,51.0,153.0,6018.0,28.0,0.0,0,21.0,80,38,42,0,53,31,22,15,15,0,1,167,95,8,1,2,9,149,56,75,18,0,0,111,383,0,0,280,123,113,0,7,26,11,1,17.25
24478,1,0,44.0,2,10.07,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3.0,10,33.0,122.0,5787.0,24.0,1.0,60,23.0,111,48,63,0,8,8,0,6,5,1,0,157,44,0,1,0,2,125,24,68,26,4,3,145,288,0,4,237,69,141,1,2,12,12,1,17.00
24479,3,0,11.0,2,1.29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4.0,12,39.0,28.0,1320.0,25.0,0.0,0,23.0,21,10,11,0,13,10,3,3,3,0,1,54,16,2,1,1,2,38,10,19,7,2,0,39,93,0,0,79,24,35,0,6,5,9,1,16.01
24480,3,0,33.0,2,0.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6.0,18,61.0,74.0,3252.0,27.0,1.0,76,7.0,94,39,54,1,2,0,2,18,17,1,1,138,81,2,3,0,4,115,13,58,38,5,1,155,246,35,3,254,55,121,0,3,39,36,1,17.60
24481,5,0,44.0,2,47.92,1,0,0,0,2,0,0,0,2,0,0,0,0,0,1,3,0,0,0,0,0,0,0,0,0,0,4.0,12,39.0,5.0,176.0,30.0,0.0,0,2.0,45,14,31,0,3,2,1,3,3,0,0,77,21,0,4,0,4,51,2,18,28,2,1,84,142,0,2,100,17,72,0,3,6,2,1,16.50

In [87]:
candidate_applications_data_wo_na.to_csv("/Users/prathikpradeep/HC_One/data/interim/CandidateApplicationsData_preprocessed.csv", index=False)

In [88]:
candidate_applications_data_wo_na.shape

(17573, 75)

In [89]:
x=pd.DataFrame(candidate_applications_data_wo_na.dtypes)
x = x.T
x

,length of service in months,Current Employee [1=YES / 0=No],Contracted hours,Job Title,Distance Candidate is from Job location (KM),Certification,Licence,Other,Accounts Skills,Admin Skills,Care Assistant,Chef Skills,FlexForce,General Skills,Health and Social Care,Home Manager Skills,Kitchen & Domestic Skills,Maintenance Skills,Nurse Skills,Qualifications,Specialist Area,Team Leader Skills,Arabic,Russian,French,Spanish,Dutch,Italian,German,Portuguese,Japanese,Group Code,Type Code,Category Code,Count of Care homes within 15 min drive,Count of Care home Beds within 15 min drive,Average age of the care homes within 15 min drive,Count of Care Homes within walking distance (<500 meters) from candidates address,Sum of care home beds within walking distance from candidates address,Count of bus stops walking distance from candidates address,1. Owned,1.1 Owns outright,1.2 Owns with a mortgage or loan,1.3 Shared ownership,2. Social rented,2.1 Rented from Council (Local Authority),2.2 Other social rented,3. Private rented,3.1 Private landlord or letting agency,3.2 Other private rented,4. Living rent free,Total economically active,Total economically inactive,Unemployed aged 16-24,Unemployed aged 50-74,Unemployed: never worked,Long-term unemployed,Total households 1,No car or van in household,1 car or van in household,2 cars or vans in household,3 cars or vans in household,4 or more cars or vans in household,Total cars or vans,Residents in households,Residents in communal establishments,Schoolchildren or full-time students aged 4+ at their non term-time address,All people aged 16+,Single (never married or registered a same-sex civil partnership),Married,In a registered same-sex civil partnership,Separated (but still legally married or in a same-sex civil partnership),Divorced (or formerly in a same-sex civil partnership which is now legally dissolved),Widowed (or surviving partner from a same-sex civil partnership),"Candidate previous employee [1 = yes, 0 = no]"
0,int64,int64,float64,int64,float64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,float64,int64,float64,float64,float64,float64,float64,int64,float64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64

In [90]:
candidate_applications_data_wo_na.shape

(17573, 75)

In [91]:
#Statistical summary of dataset
candidate_applications_data.describe()

,length of service in months,Current Employee [1=YES / 0=No],Contracted hours,Job Title,Distance Candidate is from Job location (KM),Certification,Licence,Other,Accounts Skills,Admin Skills,Care Assistant,Chef Skills,FlexForce,General Skills,Health and Social Care,Home Manager Skills,Kitchen & Domestic Skills,Maintenance Skills,Nurse Skills,Qualifications,Specialist Area,Team Leader Skills,Arabic,Russian,French,Spanish,Dutch,Italian,German,Portuguese,Japanese,Group Code,Type Code,Category Code,Count of Care homes within 15 min drive,Count of Care home Beds within 15 min drive,Average age of the care homes within 15 min drive,Count of Care Homes within walking distance (<500 meters) from candidates address,Sum of care home beds within walking distance from candidates address,Count of bus stops walking distance from candidates address,1. Owned,1.1 Owns outright,1.2 Owns with a mortgage or loan,1.3 Shared ownership,2. Social rented,2.1 Rented from Council (Local Authority),2.2 Other social rented,3. Private rented,3.1 Private landlord or letting agency,3.2 Other private rented,4. Living rent free,Total economically active,Total economically inactive,Unemployed aged 16-24,Unemployed aged 50-74,Unemployed: never worked,Long-term unemployed,Total households 1,No car or van in household,1 car or van in household,2 cars or vans in household,3 cars or vans in household,4 or more cars or vans in household,Total cars or vans,Residents in households,Residents in communal establishments,Schoolchildren or full-time students aged 4+ at their non term-time address,All people aged 16+,Single (never married or registered a same-sex civil partnership),Married,In a registered same-sex civil partnership,Separated (but still legally married or in a same-sex civil partnership),Divorced (or formerly in a same-sex civil partnership which is now legally dissolved),Widowed (or surviving partner from a same-sex civil partnership),"Candidate previous employee [1 = yes, 0 = no]",salary
count,17573.000000,17573.000000,17573.000000,17573.000000,17573.00000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.00000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000,17573.000000
mean,14.422182,0.278439,33.553875,0.296421,8.84667,0.206282,0.000626,0.100154,0.223866,1.764298,0.030501,0.050873,0.437717,1.388835,0.147897,0.208217,0.308086,0.064019,0.353554,0.055369,0.549821,0.044728,0.001423,0.001480,0.004951,0.003187,0.000626,0.002959,0.002788,0.001309,0.000057,3.913731,12.089399,40.631651,69.959199,2960.378535,24.549764,0.548512,24.658396,15.925112,62.630171,26.666079,35.080009,0.884084,33.511922,18.383145,15.128777,21.206965,19.473226,1.733739,1.625790,141.705400,68.532749,3.775792,1.899163,2.318671,5.160986,118.974848,40.95402,50.338474,22.107153,4.254481,1.320719,113.208388,280.998122,6.724919,2.286633,228.257668,92.462528,90.706254,0.457008,7.282194,22.075343,15.274341,0.944119,9.769193
std,17.723579,0.448243,10.062119,0.664836,32.97659,0.496243,0.031098,0.421625,0.748217,2.620831,0.171967,0.240991,0.805565,1.611549,0.407966,0.509367,0.640201,0.265320,0.809135,0.236053,0.998509,0.221849,0.037692,0.038437,0.070189,0.056363,0.025012,0.054318,0.052733,0.036155,0.007544,1.138418,4.203037,13.940756,48.486075,1976.683688,4.132451,0.944267,42.294101,8.557905,35.769607,19.223793,20.999926,2.794368,31.538847,23.630090,21.284884,21.736885,20.696916,4.062041,1.816302,60.949695,54.590909,3.252856,1.696318,2.653284,4.087156,39.393453,26.55845,19.821125,16.420142,4.442874,1.944285,60.829104,105.169012,67.230008,2.943423,102.847252,79.665319,46.924795,1.049285,4.330906,10.511904,10.957818,0.229699,2.647161
min,1.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,20.000000,0.00000,2.000000,0.000000,0.000000,0.000000,3.000000,50.000000,0.000000,0.000000,38.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000
25%,3.000000,0.000000,24.000000,0.000000,1.43000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,10.000000,32.000000,28.000000,1228.000000,23.000000,0.000000,0.000000,10.000000,34.000000,12.000000,19.000000,0.000000,6.000000,1.000000,1.000000,7.000000,6.000000,0.000000,0.000000,104.000000,45.000000,1.000000,1.000000,0.000000,2.000000,107.000000,20.00000,38.000000,10.000000,1.000000,0.000000,69.000000,227.000000,0.000000,0.000000,189.000000,61.000000,56.000000,0.000000,4.000000,14.000000,8.000000,1.000000,8.260000
50%,8.000000,0.000000,33.000000,0.000000,3.18000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,13.000000,43.000000,63.000000,2638.000000,25.000000,0.000000,0.000000,15.000000,59.000000,23.000000,33.000000,0.000000,25.000000,8.000000,5.000000,14.000000,12.000000,1.000000,1.000000,144.000000,65.000000,3.000000,2.000000,1.000000,4.000000,125.000000,37.00000,52.000000,18.000000,3.000000,1.000000,106.000000,292.000000,0.000000,1.000000,234.000000,86.000000,87.000000,0.000000,7.000000,22.000000,13.000000,1.000000,9.000000
75%,20.000000,1.000000,44.000000,0.000000,6.95000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,15.000000,51.000000,107.000000,4614.000000,27.000000,1.000000,42.000000,20.000000,89.000000,38.000000,48.000000,1.000000,53.000000,28.000000,22.000000,28.000000,25.000000,2.000000,2.000000,175.000000,83.000000,5.000000,3.000000,3.000000,7.000000,138.000000,56.00000,62.000000,30.000000,6.000000,2.000000,149.000000,342.000000,0.000000,3.000000,271.000000,109.000000,119.000000,0.000000,10.000000,29.000000,20.000000,1.000000,9.900000
max,373.000000,1.000000,330.000000,2.000000,725.78000,10.000000,2.000000,12.000000,13.000000,24.000000,1.000000,3.000000,8.000000,10.000000,3.000000,5.000000,5.000000,4.000000,8.000000,2.000000,10.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,6.000000,18.000000,62.000000,225.000000,8642.000000,57.000000,20.000000,531.000000,115.000000,233.000000,168.000000,172.000000,80.000000,248.000000,187.000000,243.000000,218.000000,211.000000,117.000000,26.000000,1225.000000,1952.000000,38.000000,16.000000,31.000000,45.000000,386.000000,293.00000,142.000000,136.000000,42.000000,21.000000,458.000000,731.000000,2443.000000,72.000000,2689.000000,2555.000000,327.000000,22.000000,56.000000,197.000000,225.000000,1.000000,38.700000

In [92]:
candidate_applications_data.to_csv('/Users/prathikpradeep/HC_One/data/processed/CandidateApplicationsData_preprocessed.csv', index=False)