In [8]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import Lasso

In [9]:
#Function to display all columns
pd.set_option('display.max_columns', None)

#Loading the dataset
candidate_applications_data_wo_na = pd.read_csv("/Users/prathikpradeep/HC_One/data/interim/CandidateApplicationsData_preprocessed_wo_na.csv")

In [10]:
X=candidate_applications_data_wo_na.drop('length of service in months',axis=1)

In [11]:
X.shape

(17573, 74)

In [5]:
candidate_applications_data_wo_na

,length of service in months,Current Employee [1=YES / 0=No],Contracted hours,Job Title,Distance Candidate is from Job location (KM),Certification,Licence,Other,Accounts Skills,Admin Skills,...,Schoolchildren or full-time students aged 4+ at their non term-time address,All people aged 16+,Single (never married or registered a same-sex civil partnership),Married,In a registered same-sex civil partnership,Separated (but still legally married or in a same-sex civil partnership),Divorced (or formerly in a same-sex civil partnership which is now legally dissolved),Widowed (or surviving partner from a same-sex civil partnership),"Candidate previous employee [1 = yes, 0 = no]",salary
0,37,0,22.0,0,9.51,0,0,0,0,0,...,4,272,70,136,0,6,25,35,0,9.55
1,24,0,44.0,0,1.76,0,0,0,0,0,...,6,199,71,82,0,8,31,7,1,8.72
2,1,1,33.0,0,5.14,0,0,0,0,0,...,0,115,93,16,0,1,5,0,0,10.50
3,42,0,38.5,0,16.49,0,0,0,0,0,...,0,197,88,55,0,10,27,17,0,9.55
4,153,0,22.0,0,4.08,0,0,0,0,0,...,2,245,86,122,0,2,24,11,0,9.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17568,6,0,44.0,2,11.05,2,0,1,0,1,...,0,280,123,113,0,7,26,11,1,17.25
17569,1,0,44.0,2,10.07,0,0,0,0,0,...,4,237,69,141,1,2,12,12,1,17.00
17570,3,0,11.0,2,1.29,0,0,0,0,0,...,0,79,24,35,0,6,5,9,1,16.01
17571,3,0,33.0,2,0.00,0,0,0,0,0,...,3,254,55,121,0,3,39,36,1,17.60
17572,5,0,44.0,2,47.92,1,0,0,0,2,...,2,100,17,72,0,3,6,2,1,16.50

In [10]:
# Method 2 for feature selection
y=candidate_applications_data_wo_na['length of service in months']

In [6]:
y.shape

(17573,)

In [145]:
# # Method 1 for feature selection
# # Spearman Correlation
# import scipy.stats as stats
# correlations = {}
# for feature in X:
#     corr, pval = stats.spearmanr(y, X[feature])
#     correlations[feature] = corr


# sorted_features = sorted(correlations.items(), key=lambda x: abs(x[1]), reverse=True)


# k = 38
# # selected_features = [pval for pval, correlation in sorted_features[:k]]
# # selected_features = pd.DataFrame(X, columns=selected_features)

In [120]:
# using selectbest method
from sklearn.feature_selection import SelectKBest, f_classif
# Create and fit selector
selector = SelectKBest(f_classif, k=38)
selector.fit(X, y)
cols_idxs = selector.get_support(indices=True)
X_new = X.iloc[:,cols_idxs]

In [21]:
X_new.to_csv('/Users/prathikpradeep/HC_One/data/processed/CandidateApplicationsData_features.csv', index=False)

In [78]:
y.to_csv('/Users/prathikpradeep/HC_One/data/processed/CandidateApplicationsData_target.csv', index=False)

In [475]:
# #KMeans method
# import numpy as np
# import pandas as pd
# from sklearn.cluster import KMeans
# from sklearn.feature_selection import VarianceThreshold

# X = candidate_applications_data_wo_na

# # fit k-means model to data
# kmeans = KMeans(n_clusters=5, random_state=42)
# kmeans.fit(X)

# # get labels for each data point
# labels = kmeans.labels_

# # calculate variance of each feature within each cluster
# variances = []
# for i in range(5):
#     cluster_indices = labels == i
#     cluster_data = X[cluster_indices]
#     cluster_variances = cluster_data.var(axis=0)
#     variances.append(cluster_variances)

# # select features with high variance within clusters
# variances = np.vstack(variances)
# high_variance_indices = np.where(variances.mean(axis=0) > 1e0)[0]
# high_variance_features = X.columns[high_variance_indices]

# # apply feature selection to original data
# X_selected = X.loc[:, high_variance_features]

# # apply variance threshold to further reduce dimensionality
# sel = VarianceThreshold(threshold=(.8 * (1 - .8)))
# X_selected = sel.fit_transform(X_selected)

# # rename columns with original names
# X_selected = pd.DataFrame(X_selected, columns=high_variance_features)

In [11]:
# #Variance thresholding method
# import pandas as pd
# from sklearn.feature_selection import VarianceThreshold

# # Load data into a pandas DataFrame
# data = candidate_applications_data_wo_na

# # Apply variance thresholding to select high-variance features
# sel = VarianceThreshold(threshold=0.5)
# high_var_features = sel.fit_transform(X)

# # Create a new DataFrame with selected features
# high_var_data = pd.DataFrame(high_var_features, columns=X.columns[sel.get_support()])

# # Print the new DataFrame
# high_var_data.shape

(17573, 52)

In [36]:
X_new

,Current Employee [1=YES / 0=No],Contracted hours,Job Title,Certification,Other,Accounts Skills,Admin Skills,FlexForce,General Skills,Health and Social Care,Home Manager Skills,Nurse Skills,Dutch,Category Code,Average age of the care homes within 15 min drive,Sum of care home beds within walking distance from candidates address,1. Owned,1.1 Owns outright,1.2 Owns with a mortgage or loan,2. Social rented,2.1 Rented from Council (Local Authority),3. Private rented,3.1 Private landlord or letting agency,Total economically active,Unemployed aged 50-74,Unemployed: never worked,Total households 1,1 car or van in household,2 cars or vans in household,Total cars or vans,Residents in households,Schoolchildren or full-time students aged 4+ at their non term-time address,Married,In a registered same-sex civil partnership,Separated (but still legally married or in a same-sex civil partnership),Widowed (or surviving partner from a same-sex civil partnership),"Candidate previous employee [1 = yes, 0 = no]",salary
0,0,22.0,0,0,0,0,0,0,0,0,0,0,0,23.0,26.0,40,101,51,50,13,7,10,9,156,3,1,125,49,50,181,304,4,136,0,6,35,0,9.55
1,0,44.0,0,0,0,0,0,0,0,0,0,0,0,19.0,28.0,0,82,25,57,0,0,35,33,165,1,0,120,67,33,174,232,6,82,0,8,7,1,8.72
2,1,33.0,0,0,0,0,0,0,0,0,0,0,0,36.0,27.0,90,14,4,9,5,1,44,42,76,0,0,65,19,2,26,117,0,16,0,1,0,0,10.50
3,0,38.5,0,0,0,0,0,0,0,0,0,0,0,58.0,22.0,0,14,2,12,105,47,6,5,86,2,9,127,31,2,45,273,0,55,0,10,17,0,9.55
4,0,22.0,0,0,0,0,0,0,0,0,0,0,0,39.0,26.0,0,102,37,65,5,0,14,13,160,2,0,122,61,25,120,310,2,122,0,2,11,0,9.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17568,0,44.0,2,2,1,0,1,1,2,0,0,4,0,51.0,28.0,0,80,38,42,53,31,15,15,167,1,2,149,75,18,111,383,0,113,0,7,11,1,17.25
17569,0,44.0,2,0,0,0,0,0,0,0,0,0,0,33.0,24.0,60,111,48,63,8,8,6,5,157,1,0,125,68,26,145,288,4,141,1,2,12,1,17.00
17570,0,11.0,2,0,0,0,0,0,0,0,0,0,0,39.0,25.0,0,21,10,11,13,10,3,3,54,1,1,38,19,7,39,93,0,35,0,6,9,1,16.01
17571,0,33.0,2,0,0,0,0,0,0,0,0,0,0,61.0,27.0,76,94,39,54,2,0,18,17,138,3,0,115,58,38,155,246,3,121,0,3,36,1,17.60
17572,0,44.0,2,1,0,0,2,0,2,0,0,0,0,39.0,30.0,0,45,14,31,3,2,3,3,77,4,0,51,18,28,84,142,2,72,0,3,2,1,16.50

In [46]:
X.shape

(17573, 75)

In [47]:
0.8 * (1 - .8)

0.15999999999999998

In [4]:
# from sklearn.decomposition import PCA
# from sklearn.preprocessing import StandardScaler

# # standardize the data
# scaler = StandardScaler()
# data_std = scaler.fit_transform(candidate_applications_data_wo_na)
# # Create PCA instance
# pca = PCA(n_components=11,random_state=10)

# # Fit and transform data
# data_reduced = pca.fit_transform(data_std)

In [5]:
# pca.explained_variance_ratio_.cumsum()

array([0.13464652, 0.24370904, 0.29532466, 0.33715368, 0.37078974,
       0.40189125, 0.42690762, 0.450242  , 0.47100872, 0.48998597,
       0.5084951 ])

In [6]:
# data_x=pd.DataFrame(data_reduced,columns=['p1','p2','p3','p4','p5','p6','p7','p8','p9','p10','p11'])

In [12]:
# data_x['type_code']=high_var_data['Type Code']
# data_x['category_code']=high_var_data['Category Code']
# data_x['current_emp_ind']=candidate_applications_data_wo_na['Current Employee [1=YES / 0=No]']
# data_x

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,type_code,category_code,current_emp_ind
0,3.371224,-2.113598,-2.526465,0.069409,0.645219,0.720234,1.157307,-0.892174,0.308437,2.326935,1.387177,6.0,23.0,0
1,2.912564,-2.934167,-1.812498,0.949818,-0.719187,-0.082654,-0.976709,0.944685,0.111374,-0.536345,0.520506,5.0,19.0,0
2,-4.429309,-2.127814,-0.630920,3.557314,-3.364269,0.079963,1.528310,0.026668,-0.313455,2.059669,1.308725,11.0,36.0,1
3,-3.890183,3.619157,-2.145185,-0.919248,1.866493,1.464314,-0.881150,-0.158499,0.249693,2.263620,2.215543,17.0,58.0,0
4,1.073075,-1.443839,-2.805470,0.598554,-0.219639,0.999597,-0.239123,-0.535439,-0.630667,6.869479,0.399513,12.0,39.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17568,0.124185,1.993162,5.133714,-2.201377,0.397533,4.015018,-0.035067,-0.616027,-0.517193,0.416777,-2.637204,15.0,51.0,0
17569,2.080482,-2.366945,-0.417271,0.492362,-1.028500,2.795736,0.710155,-1.791272,0.043379,-0.667824,-1.939663,10.0,33.0,0
17570,-4.470161,-3.971829,-0.554295,0.992986,0.180079,2.246488,-0.292871,0.511747,0.214670,-0.818045,-0.488316,12.0,39.0,0
17571,1.176620,-0.631754,-0.945626,-0.590740,0.008566,2.764135,2.947510,1.107825,-0.190465,0.258504,-2.789918,18.0,61.0,0
17572,-2.334146,-5.017089,2.275101,-0.681447,0.866356,3.769808,-0.040750,1.711861,-0.151531,-0.501001,-0.427413,12.0,39.0,0